<md-toolbar>
  <i class="material-icons" (click)="sidenav.toggle()">menu</i>
  <h3>Enigma</h3>
  <div class="header-right">
        <md-input-container class="login-full-width">
          <i class="material-icons" md-prefix>search</i>
          <input mdInput placeholder="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      </md-input-container>
      <span class="icons"> 
        <i class="material-icons">settings_applications</i>
        <i class="material-icons" [mdMenuTriggerFor]="menu">perm_identity</i>
          <md-menu #menu="mdMenu">
          <button md-menu-item>
            <md-icon>perm_identity</md-icon>
            <span>Profile</span>
          </button>
          <button md-menu-item disabled>
            <md-icon>group</md-icon>
            <span>Groups</span>
          </button>
          <button md-menu-item disabled>
            <md-icon>settings</md-icon>
            <span>Settings</span>
          </button>
          <button md-menu-item (click)="logout()">
            <md-icon>close</md-icon>
            <span>Logout</span>
          </button>
        </md-menu>
      </span>
      
      
  </div>
</md-toolbar>
<md-sidenav-container class="dashboard-container">
  <md-sidenav #sidenav mode="side" class="dashboard-sidenav" opened="true">
      <md-list class="side-menu">
        <md-list-item routerLink='dashboard'><i class="material-icons">account_circle</i> Dashboard</md-list-item>
        <md-list-item routerLink='monitoring'><i class="material-icons">view_list</i>Monitoring</md-list-item>
        <md-list-item routerLink='security'><i class="material-icons">account_balance</i>Security</md-list-item>
        <md-list-item routerLink='logging'><i class="material-icons">account_balance</i>Logging</md-list-item>
        <md-list-item routerLink='integrations'><i class="material-icons">account_balance</i>Integrations</md-list-item>
        <md-list-item routerLink='audit'><i class="material-icons">account_balance</i>Audit</md-list-item>
        <md-list-item routerLink='notifications'><i class="material-icons">account_balance</i>notifications</md-list-item>
        <md-list-item routerLink='analytics'><i class="material-icons">account_balance</i>Account Managemant</md-list-item>
        <md-list-item routerLink='subscriptions'><i class="material-icons">account_balance</i>Subscriptions</md-list-item>
        <md-list-item routerLink='billing'><i class="material-icons">account_balance</i>Billing</md-list-item>
        <md-list-item routerLink='reports'><i class="material-icons">account_balance</i>Reports</md-list-item>
        <md-list-item routerLink='analytics'><i class="material-icons">account_balance</i>Analytics</md-list-item>
        <md-list-item routerLink='workflow'><i class="material-icons">account_balance</i>Workflow</md-list-item>
        <md-list-item routerLink='networking'><i class="material-icons">account_balance</i>Networking</md-list-item>
        <md-list-item routerLink='devops'><i class="material-icons">account_balance</i>Devops</md-list-item> 
        <md-list-item routerLink='devops'><i class="material-icons">account_balance</i>User Managemant</md-list-item> 
        <md-list-item routerLink='users'><i class="material-icons">account_balance</i>Users</md-list-item>   
        <md-list-item routerLink='groups'><i class="material-icons">account_balance</i>Groups</md-list-item>   
        <md-list-item routerLink='roles'><i class="material-icons">account_balance</i>Roles</md-list-item>               
      </md-list>
  </md-sidenav>

  <div class="dashboard-sidenav-content">
      <!--<app-infrastructure></app-infrastructure>-->
      <!--<app-product-catalog></app-product-catalog>-->
      <router-outlet></router-outlet>
  </div>

</md-sidenav-container>