<md-grid-list cols="1" rowHeight="200px" >
<md-grid-tile class="dashboard-background"></md-grid-tile>
 
</md-grid-list>
  <md-card class="dashboard-card">
<md-card-header>
<h1>Change Password</h1>
</md-card-header>
 
<md-list>
    <md-card-content>
    <md-list-item>
      <label>Old Password</label>  
    <md-input-container>
      <input mdInput placeholder=""  name="oldpwd">
    </md-input-container>
</md-list-item>
 <md-list-item>
      <label>New Password</label>  
    <md-input-container>
      <input mdInput placeholder="" [(ngModel)]="password.newpwd" name="newpwd">
    </md-input-container>
</md-list-item>
<md-list-item>
      <label>Confirm New Password</label>  
    <md-input-container>
      <input mdInput placeholder=""  name="cnfnewpwd">
    </md-input-container>
</md-list-item>
 </md-card-content>
  <md-card-actions>
<button md-raised-button  (click)="ChangePassword(password)">Update Password</button>
  </md-card-actions>
</md-list>
</md-card>
