<md-toolbar>
  <i class="material-icons" (click)="sidenav.toggle()">menu</i>
  <h3>Enigma</h3>
  <div class="header-right">
        <md-input-container class="login-full-width">
          <i class="material-icons" md-prefix>search</i>
          <input mdInput placeholder="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      </md-input-container>
      <span class="icons"> 
        <i class="material-icons">settings_applications</i>
        <i class="material-icons" [mdMenuTriggerFor]="menu">perm_identity</i>
          <md-menu #menu="mdMenu">
          <button md-menu-item>
            <md-icon>perm_identity</md-icon>
            <span>Profile</span>
          </button>
          <button md-menu-item disabled>
            <md-icon>group</md-icon>
            <span>Groups</span>
          </button>
          <button md-menu-item disabled>
            <md-icon>settings</md-icon>
            <span>Settings</span>
          </button>
          <button md-menu-item (click)="logout()">
            <md-icon>close</md-icon>
            <span>Logout</span>
          </button>
        </md-menu>
      </span>
      
      
  </div>
</md-toolbar>
<md-sidenav-container class="dashboard-container">
  <md-sidenav #sidenav mode="side" class="dashboard-sidenav" opened="true">
      <md-list class="side-menu">
        <md-list-item routerLink='dashboard'><i class="material-icons">account_circle</i> Dashboard</md-list-item>
        <md-list-item routerLink='notifications'><i class="material-icons">account_balance</i> Notifications</md-list-item>
        <md-list-item ><i class="material-icons">view_list</i>Tenant</md-list-item>
        <md-list-item routerLink='passwordpolicy'><i class="material-icons">verified_user</i>Password Policy</md-list-item>
        <md-list-item routerLink='infrastructure'><i class="material-icons">verified_user</i>Infrastructure</md-list-item>
        <md-list-item routerLink='reseller'><i class="material-icons">visibility</i>Reseller</md-list-item>
        <md-list-item routerLink='analytics'><i class="material-icons">assignment</i>Analytics</md-list-item>
        <md-list-item routerLink='servicecatalog'><i class="material-icons">settings</i>Service Catalog</md-list-item>
        <md-list-item routerLink='servicecatalog'><i class="material-icons">settings</i>User Management</md-list-item>
        <md-list-item routerLink='users'><i class="material-icons">settings</i>Users</md-list-item>
        <md-list-item routerLink='groups'><i class="material-icons">settings</i>Groups </md-list-item>
        <md-list-item routerLink='roles'><i class="material-icons">settings</i>Roles Managment</md-list-item>
        <md-list-item routerLink='upgrades'><i class="material-icons">receipt</i>Upgrades</md-list-item>
        <md-list-item ><i class="material-icons">receipt</i>My Account</md-list-item>
        <md-list-item routerLink='changepassword'><i class="material-icons">receipt</i>Change Password</md-list-item>
        <md-list-item routerLink='emails'><i class="material-icons">receipt</i>Emails</md-list-item>
        <md-list-item routerLink='security'><i class="material-icons">receipt</i>Security</md-list-item>
        <md-list-item routerLink='accesskeys'><i class="material-icons">receipt</i>Access Keys</md-list-item>
      </md-list>
  </md-sidenav>

  <div class="dashboard-sidenav-content">
      <!--<app-infrastructure></app-infrastructure>-->
      <!--<app-product-catalog></app-product-catalog>-->
      <router-outlet></router-outlet>
  </div>

</md-sidenav-container>